version: '2'

services:
  web:
    build: .
    container_name: image-server
    command: npm start
    volumes:
      - ./public:/src/public
    ports:
      - 127.0.0.1:8898:8898
    environment:
      - PORT=8898
